In [93]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import imageio as im
import time

start = time.time()

data = pd.read_csv('WSN-DS.csv')
data.dropna(axis=1,inplace = True)
data.head()

,id,Time,Is_CH,who CH,Dist_To_CH,ADV_S,ADV_R,JOIN_S,JOIN_R,SCH_S,SCH_R,ank,DATA_S,DATA_R,Data_Sent_To_BS,dist_CH_To_BS,send_code,Consumed Energy,Label
0,101000,50,1,101000,0.00000,1,0,0,25,1,0,0,0,1200,48,130.08535,0,2.46940,Normal
1,101001,50,0,101044,75.32345,0,4,1,0,0,1,2,38,0,0,0.00000,4,0.06957,Normal
2,101002,50,0,101010,46.95453,0,4,1,0,0,1,19,41,0,0,0.00000,3,0.06898,Normal
3,101003,50,0,101044,64.85231,0,4,1,0,0,1,16,38,0,0,0.00000,4,0.06673,Normal
4,101004,50,0,101010,4.83341,0,4,1,0,0,1,25,41,0,0,0.00000,3,0.06534,Normal

In [97]:
train, test = train_test_split(data, test_size=0.5)

test.to_csv('WSN_DS_1.csv')
train.to_csv('WSN_DS_2.csv')

In [98]:
data_1 = pd.read_csv('WSN_DS_1.csv', index_col=0)
data_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 187331 entries, 317664 to 115391
Data columns (total 25 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Time             187331 non-null  float64
 1   Is_CH            187331 non-null  float64
 2   who CH           187331 non-null  float64
 3   Dist_To_CH       187331 non-null  float64
 4   ADV_S            187331 non-null  float64
 5   ADV_R            187331 non-null  float64
 6   JOIN_S           187331 non-null  float64
 7   JOIN_R           187331 non-null  float64
 8   SCH_S            187331 non-null  float64
 9   SCH_R            187331 non-null  float64
 10  ank              187331 non-null  float64
 11  DATA_S           187331 non-null  float64
 12  DATA_R           187331 non-null  float64
 13  Data_Sent_To_BS  187331 non-null  float64
 14  dist_CH_To_BS    187331 non-null  float64
 15  send_code        187331 non-null  float64
 16  Consumed Energy  187331 non-null  float64
 17  dummy0           187331 non-null  float64
 18  dummy1           187331 non-null  float64
 19  dummy2           187331 non-null  float64
 20  dummy3           187331 non-null  float64
 21  dummy4           187331 non-null  float64
 22  dummy5           187331 non-null  float64
 23  dummy6           187331 non-null  float64
 24  dummy7           187331 non-null  float64
dtypes: float64(25)
memory usage: 37.2 MB

In [99]:
data_2 = pd.read_csv('WSN_DS_2.csv', index_col=0)
data_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 187330 entries, 325173 to 315742
Data columns (total 25 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Time             187330 non-null  float64
 1   Is_CH            187330 non-null  float64
 2   who CH           187330 non-null  float64
 3   Dist_To_CH       187330 non-null  float64
 4   ADV_S            187330 non-null  float64
 5   ADV_R            187330 non-null  float64
 6   JOIN_S           187330 non-null  float64
 7   JOIN_R           187330 non-null  float64
 8   SCH_S            187330 non-null  float64
 9   SCH_R            187330 non-null  float64
 10  ank              187330 non-null  float64
 11  DATA_S           187330 non-null  float64
 12  DATA_R           187330 non-null  float64
 13  Data_Sent_To_BS  187330 non-null  float64
 14  dist_CH_To_BS    187330 non-null  float64
 15  send_code        187330 non-null  float64
 16  Consumed Energy  187330 non-null  float64
 17  dummy0           187330 non-null  float64
 18  dummy1           187330 non-null  float64
 19  dummy2           187330 non-null  float64
 20  dummy3           187330 non-null  float64
 21  dummy4           187330 non-null  float64
 22  dummy5           187330 non-null  float64
 23  dummy6           187330 non-null  float64
 24  dummy7           187330 non-null  float64
dtypes: float64(25)
memory usage: 37.2 MB

In [100]:
print("Total time: ", time.time() - start, "seconds")

Total time:  12.250657558441162 seconds